openapi: 3.2.0
info:
  title: DSP Experimental API
  version: v37.8.0
  summary: DSP-API is part of the DaSCH Service Platform, a repository for the long-term preservation and reuse of data in the humanities.
  contact:
    name: DaSCH
    url: https://www.dasch.swiss/
servers:
- url: https://api.dasch.swiss:443
  description: The dsp-api server
tags:
- name: Experimental
paths:
  /v2/standoff/canonicalize:
    post:
      tags:
      - Experimental
      description: 'Experimental -- may change or be removed without notice; do not depend on it for production integrations. Returns the canonical form of the given standard-mapping rich-text XML: the exact XML dsp-api would return when reading such a value back. This conversion is idempotent, so a client can compare the canonical form of its own source against the `textValueAsXml` of a stored value to decide whether a rich-text value has actually changed. (Raw input is only isomorphic to what dsp-api stores, not byte-identical, which makes a direct string comparison unreliable.) Only the standard mapping is supported. Requires authentication.'
      operationId: postV2StandoffCanonicalize
      requestBody:
        description: The rich-text XML to canonicalize, interpreted with the standard standoff mapping.
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: 'The canonical XML: the input round-tripped through standoff markup and back.'
          content:
            application/xml:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
components:
  schemas:
    NotFoundException:
      title: NotFoundException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    ConflictException:
      title: ConflictException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    GravsearchException:
      title: GravsearchException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    ValidationException:
      title: ValidationException
      type: object
      required:
      - msg
      properties:
        msg:
          type: string
    BadCredentialsException:
      title: BadCredentialsException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    ErrorResponse:
      title: ErrorResponse
      type: object
      required:
      - message
      properties:
        message:
          type: string
    BadRequestException:
      title: BadRequestException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    OntologyConstraintException:
      title: OntologyConstraintException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    EditConflictException:
      title: EditConflictException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    DuplicateValueException:
      title: DuplicateValueException
      type: object
      required:
      - message
      properties:
        message:
          type: string
    ForbiddenException:
      title: ForbiddenException
      type: object
      required:
      - message
      properties:
        message:
          type: string
  securitySchemes:
    httpAuth:
      type: http
      scheme: bearer
    httpAuth1:
      type: http
      scheme: basic
