openapi: 3.2.0
info:
  title: DSP API v2 API
  version: v37.8.0
  summary: DSP-API is part of the DaSCH Service Platform, a repository for the long-term preservation and reuse of data in the humanities.
  contact:
    name: DaSCH
    url: https://www.dasch.swiss/
servers:
- url: https://api.dasch.swiss:443
  description: The dsp-api server
tags:
- name: API v2
paths:
  /v2/authentication:
    get:
      tags:
      - API v2
      operationId: getV2Authentication
      responses:
        '200':
          description: ''
          headers:
            Set-Cookie:
              required: false
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    post:
      tags:
      - API v2
      operationId: postV2Authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginPayload'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Set-Cookie:
              required: false
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - API v2
      operationId: deleteV2Authentication
      parameters:
      - name: KnoraAuthenticationMFYGSLTEMFZWG2BOON3WS43THI2DIMY9
        in: cookie
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Set-Cookie:
              required: false
              schema:
                type: array
                items:
                  type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - {}
      - httpAuth: []
  /v2/lists/{listIri}:
    get:
      tags:
      - API v2
      description: Returns a list (a graph with all list nodes).
      operationId: getV2ListsListiri
      parameters:
      - name: listIri
        in: path
        description: The iri to a list.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/lists/0001/MK5zjenqSeKYAmqWz7XupQ
      - name: allLanguages
        in: query
        description: If true, return rdfs:label and rdfs:comment as JSON-LD arrays of language-tagged objects (sorted alphabetically by tag). Default false preserves the legacy single-string shape.
        required: false
        schema:
          default: false
          type: boolean
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/node/{listIri}:
    get:
      tags:
      - API v2
      description: Returns a list node.
      operationId: getV2NodeListiri
      parameters:
      - name: listIri
        in: path
        description: The iri to a list.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/lists/0001/MK5zjenqSeKYAmqWz7XupQ
      - name: allLanguages
        in: query
        description: If true, return rdfs:label and rdfs:comment as JSON-LD arrays of language-tagged objects (sorted alphabetically by tag). Default false preserves the legacy single-string shape.
        required: false
        schema:
          default: false
          type: boolean
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/info:
    get:
      tags:
      - API v2
      description: Get information about resources of a specific class in a project. Publicly accessible.
      operationId: getV2ResourcesInfo
      parameters:
      - name: x-knora-accept-project
        in: header
        required: true
        schema:
          type: string
      - name: resourceClass
        in: query
        required: true
        schema:
          type: string
      - name: order
        in: query
        description: Sort the results in ascending (asc) or descending (desc) order.
        required: false
        schema:
          default: Asc
          type: string
      - name: orderBy
        in: query
        description: Sort the results by the specified property.
        required: false
        schema:
          default: LastModificationDate
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/values/{resourceIri}/{valueUuid}:
    get:
      tags:
      - API v2
      description: Get a value of a resource. Publicly accessible. Requires appropriate object access permissions on the resource. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: getV2ValuesResourceiriValueuuid
      parameters:
      - name: resourceIri
        in: path
        description: The IRI of a Resource.
        required: true
        schema:
          type: string
      - name: valueUuid
        in: path
        description: The UUID of a Value.
        required: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/values:
    put:
      tags:
      - API v2
      description: Update a value of a resource. Requires appropriate object access permissions on the resource. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: putV2Values
      requestBody:
        content:
          application/json:
            schema:
              type: string
            example:
              '@id': http://rdfh.ch/0001/a-thing
              '@type': anything:Thing
              anything:hasInteger:
                '@id': http://rdfh.ch/0001/a-thing/values/vp96riPIRnmQcbMhgpv_Rg
                '@type': knora-api:IntValue
                knora-api:intValueAsInt: 5
              '@context':
                knora-api: http://api.knora.org/ontology/knora-api/v2#
                anything: http://0.0.0.0:3333/ontology/0001/anything/v2#
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    post:
      tags:
      - API v2
      description: Create a new value for a resource. Requires appropriate object access permissions on the resource. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: postV2Values
      requestBody:
        content:
          application/json:
            schema:
              type: string
            example:
              '@id': http://rdfh.ch/0001/a-thing
              '@type': anything:Thing
              anything:hasInteger:
                '@type': knora-api:IntValue
                knora-api:intValueAsInt: 4
              '@context':
                knora-api: http://api.knora.org/ontology/knora-api/v2#
                anything: http://0.0.0.0:3333/ontology/0001/anything/v2#
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/values/order:
    put:
      tags:
      - API v2
      description: Reorder values of a property on a resource. Requires modify permission on the resource. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: putV2ValuesOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderValuesRequest'
            example:
              resourceIri: http://rdfh.ch/0001/resource-1
              propertyIri: http://0.0.0.0:3333/ontology/0001/anything/v2#hasText
              orderedValueIris:
              - http://rdfh.ch/0001/value-3
              - http://rdfh.ch/0001/value-1
              - http://rdfh.ch/0001/value-2
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReorderValuesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/values/delete:
    post:
      tags:
      - API v2
      description: Mark a value as deleted. Requires appropriate object access permissions on the resource. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: postV2ValuesDelete
      requestBody:
        content:
          application/json:
            schema:
              type: string
            example:
              '@id': http://rdfh.ch/0001/a-thing
              '@type': anything:Thing
              anything:hasInteger:
                '@id': http://rdfh.ch/0001/a-thing/values/vp96riPIRnmQcbMhgpv_Rg
                '@type': knora-api:IntValue
              '@context':
                knora-api: http://api.knora.org/ontology/knora-api/v2#
                anything: http://0.0.0.0:3333/ontology/0001/anything/v2#
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/values/erase:
    post:
      tags:
      - API v2
      description: Erase a Value and all of its old versions from the database completely. Requires SystemAdmin permissions. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: postV2ValuesErase
      requestBody:
        content:
          application/json:
            schema:
              type: string
            example:
              '@id': http://rdfh.ch/0001/a-thing
              '@type': anything:Thing
              anything:hasInteger:
                '@id': http://rdfh.ch/0001/a-thing/values/vp96riPIRnmQcbMhgpv_Rg
                '@type': knora-api:IntValue
              '@context':
                knora-api: http://api.knora.org/ontology/knora-api/v2#
                anything: http://0.0.0.0:3333/ontology/0001/anything/v2#
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/values/erasehistory:
    post:
      tags:
      - API v2
      description: Erase all old versions of a Value from the database completely and keep only the latest version. Requires SystemAdmin permissions. Find detailed documentation on <a href="https://docs.dasch.swiss/DSP-API/03-endpoints/api-v2/editing-values/">docs.dasch.swiss</a>.
      operationId: postV2ValuesErasehistory
      requestBody:
        content:
          application/json:
            schema:
              type: string
            example:
              '@id': http://rdfh.ch/0001/a-thing
              '@type': anything:Thing
              anything:hasInteger:
                '@id': http://rdfh.ch/0001/a-thing/values/vp96riPIRnmQcbMhgpv_Rg
                '@type': knora-api:IntValue
              '@context':
                knora-api: http://api.knora.org/ontology/knora-api/v2#
                anything: http://0.0.0.0:3333/ontology/0001/anything/v2#
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/metadata/projects/{projectShortcode}/resources:
    get:
      tags:
      - API v2
      description: Get metadata of all resources in a project. The metadata is returned with complex schema IRIs in the payload. This endpoint is only available for system and project admins.
      operationId: getV2MetadataProjectsProjectshortcodeResources
      parameters:
      - name: projectShortcode
        in: path
        description: The shortcode of a project. Must be a 4 digit hexadecimal String.
        required: true
        schema:
          type: string
        example: '0001'
      - name: format
        in: query
        description: The format of the response.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: classIris
        in: query
        description: List of resource class IRIs to filter the resources. If not present, all resources of the project will be returned.
        required: false
        schema:
          default: []
          type: array
          items:
            type: string
      responses:
        '200':
          description: Depending on the format the response will be rendered as CSV,TSV,JSON. The example is CSV.
          headers:
            Content-Type:
              description: 'The content type of the response, depends on the format: CSV => text/csv, TSV => text/tab-separated-values, JSON => application/json'
              required: true
              schema:
                type: string
            Content-Disposition:
              description: Will be set to attachment. The filename contains project shortcode, export timestamp and the format.
              required: true
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
              example: '

                Resource IRI,ARK URL (Permalink),Resource Class,Label,Created by,Creation Date,Last Modification Date (if available),Deletion Date (if available)

                http://rdfh.ch/0803/00014b43f902,http://0.0.0.0:3336/ark:/72163/1/0803/00014b43f902l,http://0.0.0.0:3333/ontology/0803/incunabula/v2#page,t8r,http://rdfh.ch/users/91e19f1e01,2016-03-02T15:05:37Z,,

                http://rdfh.ch/0803/0015627fe303,http://0.0.0.0:3336/ark:/72163/1/0803/0015627fe303e,http://0.0.0.0:3333/ontology/0803/incunabula/v2#page,m8v,http://rdfh.ch/users/91e19f1e01,2016-03-02T15:05:49Z,,'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/candelete:
    get:
      tags:
      - API v2
      description: Check if a resource can be deleted. Publicly accessible. Requires appropriate object access permissions on the resource.
      operationId: getV2ResourcesCandelete
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: jsonLd
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/graph/{resourceIri}:
    get:
      tags:
      - API v2
      description: Get a graph of resources starting from a specific resource. Publicly accessible. Requires appropriate object access permissions on the resources.
      operationId: getV2GraphResourceiri
      parameters:
      - name: resourceIri
        in: path
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: depth
        in: query
        required: false
        schema:
          default: 4
          type: integer
          format: int32
          minimum: 1
          maximum: 10
      - name: direction
        in: query
        required: false
        schema:
          default: outbound
          type: string
      - name: excludeProperty
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/iiifmanifest/{resourceIri}:
    get:
      tags:
      - API v2
      description: Get the IIIF manifest for a resource. Publicly accessible. Requires appropriate object access permissions on the resource.
      operationId: getV2ResourcesIiifmanifestResourceiri
      parameters:
      - name: resourceIri
        in: path
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resourcespreview:
    get:
      tags:
      - API v2
      description: Get a preview of one or more resources. Publicly accessible. Requires appropriate object access permissions on the resources.
      operationId: getV2Resourcespreview
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/projectHistoryEvents/{projectIri}:
    get:
      tags:
      - API v2
      description: Get history events for all resources in a project. Publicly accessible. Requires appropriate object access permissions.
      operationId: getV2ResourcesProjecthistoryeventsProjectiri
      parameters:
      - name: projectIri
        in: path
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/resourceHistoryEvents/{resourceIri}:
    get:
      tags:
      - API v2
      description: Get history events for a specific resource. Publicly accessible. Requires appropriate object access permissions on the resource.
      operationId: getV2ResourcesResourcehistoryeventsResourceiri
      parameters:
      - name: resourceIri
        in: path
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/history/{resourceIri}:
    get:
      tags:
      - API v2
      description: Get the version history of a resource. Publicly accessible. Requires appropriate object access permissions on the resource.
      operationId: getV2ResourcesHistoryResourceiri
      parameters:
      - name: resourceIri
        in: path
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: start date
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: end date
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources:
    get:
      tags:
      - API v2
      description: Search for resources by class and project. Publicly accessible. Requires appropriate object access permissions on the resources.
      operationId: getV2Resources
      parameters:
      - name: resourceClass
        in: query
        required: true
        schema:
          type: string
      - name: orderByProperty
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: true
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: x-knora-accept-project
        in: header
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    put:
      tags:
      - API v2
      description: Update resource metadata. Requires appropriate object access permissions on the resource.
      operationId: putV2Resources
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    post:
      tags:
      - API v2
      description: Create a new resource. Requires appropriate object access permissions.
      operationId: postV2Resources
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/batch:
    post:
      tags:
      - API v2
      description: 'Fetch one or more resources by IRI, supplied as a JSON body `{"resourceIris": [...]}`. A POST alternative to GET /v2/resources for large IRI sets that would exceed URL-length limits. Between 1 and 100 IRIs may be sent per request (this deployment''s configured limit; exceeding it is a 400). Publicly accessible. Requires appropriate object access permissions on the resources.'
      operationId: postV2ResourcesBatch
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: version
        in: query
        required: false
        schema:
          type: string
      - name: version date
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesBatchRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/tei/{resourceIri}:
    get:
      tags:
      - API v2
      description: Get a resource as TEI/XML. Publicly accessible. Requires appropriate object access permissions on the resource.
      operationId: getV2TeiResourceiri
      parameters:
      - name: resourceIri
        in: path
        required: true
        schema:
          type: string
      - name: mappingIri
        in: query
        required: false
        schema:
          type: string
      - name: textProperty
        in: query
        required: true
        schema:
          type: string
      - name: gravsearchTemplateIri
        in: query
        required: false
        schema:
          type: string
      - name: headerXSLTIri
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/erase:
    post:
      tags:
      - API v2
      description: Erase a Resource and all of its values from the database completely. Requires SystemAdmin or ProjectAdmin permissions for the resource's project.
      operationId: postV2ResourcesErase
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/delete:
    post:
      tags:
      - API v2
      description: Mark a resource as deleted. Requires appropriate object access permissions on the resource.
      operationId: postV2ResourcesDelete
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/resources/authorship:
    put:
      tags:
      - API v2
      description: Update a resource's authorship (data side). Requires Modify object access permission on the resource.
      operationId: putV2ResourcesAuthorship
      parameters:
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /v2/search/{searchTerm}:
    get:
      tags:
      - API v2
      description: Full-text search for resources. Publicly accessible. Requires appropriate object access permissions on the resources.
      operationId: getV2SearchSearchterm
      parameters:
      - name: searchTerm
        in: path
        required: true
        schema:
          type: string
      - name: x-knora-accept-schema
        in: header
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: 'The ontology schema to be used for the request.

          If not specified, the default schema ApiV2Complex will be used.'
        required: false
        schema:
          type: string
      - name: x-knora-json-ld-rendering
        in: header
        description: 'The JSON-LD rendering to be used for the request (flat or hierarchical).

          If not specified, hierarchical JSON-LD will be used.'
        required: false
        schema:
          type: string
      - name: markup
        in: query
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: x-knora-accept-markup
        in: header
        description: The markup rendering to be used for the request (XML or standoff).
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: The offset to be used for paging.
        required: false
        schema:
          default: 0
          type: integer
          format: int32
          exclusiveMinimum: -1
      - name: limitToProject
        in: query
        description: The project to limit the search to.
        required: false
        schema:
          type: string
      - name: limitToResourceClass
        in: query
        description: The resource class to limit the search to.
        required: false
        schema:
          type: string
      - name: limitToStandoffClass
        in: query
        description: The standoff class to limit the search to.
        required: false
        schema:
          type: string
      - name: returnFiles
        in: query
        description: Whether to return files in the search results.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              required: true
              schema:
                type: string
          content:
            application/ld+json:
              schema:
                type: string
            text/turtle:
              schema:
                type: string
            application/trig:
              schema:
                type: string
            application/rdf+xml:
              schema:
                type: string
            application/n-quads:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
[...]
