openapi: 3.2.0
info:
  title: DSP API v3 API
  version: v37.8.0
  summary: DSP-API is part of the DaSCH Service Platform, a repository for the long-term preservation and reuse of data in the humanities.
  contact:
    name: DaSCH
    url: https://www.dasch.swiss/
servers:
- url: https://api.dasch.swiss:443
  description: The dsp-api server
tags:
- name: API v3
paths:
  /v3/projects/{projectIri}/resourcesPerOntology:
    get:
      tags:
      - API v3
      description: This endpoint returns all ontologies in a project along with their resource classes and the count of resource instances for each class. Note that the `itemCount` includes only non-deleted resources and it includes resources even if the current user may not be permitted to see some of them, for performance reasons.
      operationId: getV3ProjectsProjectiriResourcesperontology
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OntologyAndResourceClasses'
              example:
              - ontology:
                  iri: http://0.0.0.0:3333/ontology/0001/anything/v2
                  label: The anything ontology
                  comment: A sample ontology for anything
                classesAndCount:
                - resourceClass:
                    iri: http://0.0.0.0:3333/ontology/0001/anything/v2#ImageThing
                    representationClass: StillImageRepresentation
                    label:
                    - value: Thing with image representation
                      language: en
                    comment:
                    - value: A thing which is has an image
                      language: en
                  itemCount: 42
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
  /v3/export/resources:
    post:
      tags:
      - API v3
      description: Export resources to CSV format. Publicly accessible. Requires appropriate object access permissions on the resources.
      operationId: postV3ExportResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
            example:
              resourceClass: classLink
              selectedProperties:
              - http://www.knora.org/ontology/knora-base#hasStillImageFileValue
              language: en
              includeIris: false
              includeArkUrls: false
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Disposition:
              required: true
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: Bad request example message
                errors: []
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/NotFound'
                - $ref: '#/components/schemas/NotFound'
                - $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
                ontology_not_found:
                  description: 'Example template string for code `ontology_not_found`:

                    ```

                    The ontology ''{id}'' was not found.

                    ```'
                  value:
                    message: The ontology '{id}' was not found.
                    errors:
                    - code: ontology_not_found
                      message: The ontology '{id}' was not found.
                      details:
                        id: example_id
                resourceClass_not_found:
                  description: 'Example template string for code `resourceClass_not_found`:

                    ```

                    The resource class ''{id}'' was not found.

                    ```'
                  value:
                    message: The resource class '{id}' was not found.
                    errors:
                    - code: resourceclass_not_found
                      message: The resource class '{id}' was not found.
                      details:
                        id: example_id
      security:
      - {}
      - httpAuth: []
  /v3/export/resources/oai:
    post:
      tags:
      - API v3
      description: Export resources to CSV format. Publicly accessible. Requires appropriate object access permissions on the resources.
      operationId: postV3ExportResourcesOai
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequestOai'
            example:
              shortcode: 0803
        required: true
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
      security:
      - {}
      - httpAuth: []
  /v3/ontologies/{ontologyIri}/classes/{classIri}/mapping:
    put:
      tags:
      - API v3
      description: Adds rdfs:subClassOf triples from the given class to the listed external IRIs. Existing external super-class mappings are not removed - use DELETE first to replace them.
      operationId: putV3OntologiesOntologyiriClassesClassiriMapping
      parameters:
      - name: ontologyIri
        in: path
        required: true
        schema:
          type: string
      - name: classIri
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClassMappingsRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassMappingResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: Bad request example message
                errors: []
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                ontology_not_found:
                  description: 'Example template string for code `ontology_not_found`:

                    ```

                    The ontology ''{id}'' was not found.

                    ```'
                  value:
                    message: The ontology '{id}' was not found.
                    errors:
                    - code: ontology_not_found
                      message: The ontology '{id}' was not found.
                      details:
                        id: example_id
                class_not_found:
                  description: 'Example template string for code `class_not_found`:

                    ```

                    The class ''{id}'' was not found in ontology ''{ontologyIri}''.

                    ```'
                  value:
                    message: The class '{id}' was not found in ontology '{ontologyIri}'.
                    errors:
                    - code: class_not_found
                      message: The class '{id}' was not found in ontology '{ontologyIri}'.
                      details:
                        id: example_id
                        ontologyIri: example_ontologyIri
      security:
      - httpAuth: []
    delete:
      tags:
      - API v3
      description: 'Removes a single rdfs:subClassOf triple from the given class to the specified external IRI. Idempotent: deleting an absent triple is a no-op.'
      operationId: deleteV3OntologiesOntologyiriClassesClassiriMapping
      parameters:
      - name: ontologyIri
        in: path
        required: true
        schema:
          type: string
      - name: classIri
        in: path
        required: true
        schema:
          type: string
      - name: mapping
        in: query
        description: The external IRI to remove from rdfs:subClassOf. Must be URL-encoded.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassMappingResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: Bad request example message
                errors: []
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                ontology_not_found:
                  description: 'Example template string for code `ontology_not_found`:

                    ```

                    The ontology ''{id}'' was not found.

                    ```'
                  value:
                    message: The ontology '{id}' was not found.
                    errors:
                    - code: ontology_not_found
                      message: The ontology '{id}' was not found.
                      details:
                        id: example_id
                class_not_found:
                  description: 'Example template string for code `class_not_found`:

                    ```

                    The class ''{id}'' was not found in ontology ''{ontologyIri}''.

                    ```'
                  value:
                    message: The class '{id}' was not found in ontology '{ontologyIri}'.
                    errors:
                    - code: class_not_found
                      message: The class '{id}' was not found in ontology '{ontologyIri}'.
                      details:
                        id: example_id
                        ontologyIri: example_ontologyIri
      security:
      - httpAuth: []
  /v3/ontologies/{ontologyIri}/properties/{propertyIri}/mapping:
    put:
      tags:
      - API v3
      description: Adds rdfs:subPropertyOf triples from the given property to the listed external IRIs. Existing external super-property mappings are not removed - use DELETE first to replace them.
      operationId: putV3OntologiesOntologyiriPropertiesPropertyiriMapping
      parameters:
      - name: ontologyIri
        in: path
        required: true
        schema:
          type: string
      - name: propertyIri
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPropertyMappingsRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyMappingResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: Bad request example message
                errors: []
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                ontology_not_found:
                  description: 'Example template string for code `ontology_not_found`:

                    ```

                    The ontology ''{id}'' was not found.

                    ```'
                  value:
                    message: The ontology '{id}' was not found.
                    errors:
                    - code: ontology_not_found
                      message: The ontology '{id}' was not found.
                      details:
                        id: example_id
                property_not_found:
                  description: 'Example template string for code `property_not_found`:

                    ```

                    The property ''{id}'' was not found in ontology ''{ontologyIri}''.

                    ```'
                  value:
                    message: The property '{id}' was not found in ontology '{ontologyIri}'.
                    errors:
                    - code: property_not_found
                      message: The property '{id}' was not found in ontology '{ontologyIri}'.
                      details:
                        id: example_id
                        ontologyIri: example_ontologyIri
      security:
      - httpAuth: []
    delete:
      tags:
      - API v3
      description: 'Removes a single rdfs:subPropertyOf triple from the given property to the specified external IRI. Idempotent: deleting an absent triple is a no-op.'
      operationId: deleteV3OntologiesOntologyiriPropertiesPropertyiriMapping
      parameters:
      - name: ontologyIri
        in: path
        required: true
        schema:
          type: string
      - name: propertyIri
        in: path
        required: true
        schema:
          type: string
      - name: mapping
        in: query
        description: The external IRI to remove from rdfs:subPropertyOf. Must be URL-encoded.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyMappingResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
              example:
                message: Bad request example message
                errors: []
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                ontology_not_found:
                  description: 'Example template string for code `ontology_not_found`:

                    ```

                    The ontology ''{id}'' was not found.

                    ```'
                  value:
                    message: The ontology '{id}' was not found.
                    errors:
                    - code: ontology_not_found
                      message: The ontology '{id}' was not found.
                      details:
                        id: example_id
                property_not_found:
                  description: 'Example template string for code `property_not_found`:

                    ```

                    The property ''{id}'' was not found in ontology ''{ontologyIri}''.

                    ```'
                  value:
                    message: The property '{id}' was not found in ontology '{ontologyIri}'.
                    errors:
                    - code: property_not_found
                      message: The property '{id}' was not found in ontology '{ontologyIri}'.
                      details:
                        id: example_id
                        ontologyIri: example_ontologyIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/exports:
    post:
      tags:
      - API v3
      description: Initiates an export of the project. The export will be performed asynchronously, and the response will contain an export ID that can be used to check the status of the export. An export can only be triggered when no other export exists.
      operationId: postV3ProjectsProjectiriExports
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: skipAssets
        in: query
        description: When true, binary assets are not included in the export.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTaskStatusResponse'
        '400':
          description: 'Invalid value for: query parameter skipAssets'
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                export_exists:
                  description: 'Example template string for code `export_exists`:

                    ```

                    Export ''{id}'' exists for project ''{projectIri}''.

                    ```'
                  value:
                    message: Export '{id}' exists for project '{projectIri}'.
                    errors:
                    - code: export_exists
                      message: Export '{id}' exists for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/exports/{exportId}:
    get:
      tags:
      - API v3
      description: Checks the status of an export. The response will indicate whether the export is still in progress, has completed successfully, or has failed.
      operationId: getV3ProjectsProjectiriExportsExportid
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: exportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTaskStatusResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
                export_not_found:
                  description: 'Example template string for code `export_not_found`:

                    ```

                    The export ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The export '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: export_not_found
                      message: The export '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
    delete:
      tags:
      - API v3
      description: Deletes an export irrevocably. Only exports in state failed or completed can be deleted.
      operationId: deleteV3ProjectsProjectiriExportsExportid
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: exportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
                export_not_found:
                  description: 'Example template string for code `export_not_found`:

                    ```

                    The export ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The export '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: export_not_found
                      message: The export '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                export_in_progress:
                  description: 'Example template string for code `export_in_progress`:

                    ```

                    Export ''{id}'' in progress for project ''{projectIri}''.

                    ```'
                  value:
                    message: Export '{id}' in progress for project '{projectIri}'.
                    errors:
                    - code: export_in_progress
                      message: Export '{id}' in progress for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/exports/{exportId}/download:
    get:
      tags:
      - API v3
      description: Download an export. An export can only be downloaded when it has completed successfully. If it is still in progress or has failed, the response will be 409 Conflict.
      operationId: getV3ProjectsProjectiriExportsExportidDownload
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: exportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Disposition:
              required: true
              schema:
                type: string
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
                export_not_found:
                  description: 'Example template string for code `export_not_found`:

                    ```

                    The export ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The export '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: export_not_found
                      message: The export '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                export_in_progress:
                  description: 'Example template string for code `export_in_progress`:

                    ```

                    Export ''{id}'' in progress for project ''{projectIri}''.

                    ```'
                  value:
                    message: Export '{id}' in progress for project '{projectIri}'.
                    errors:
                    - code: export_in_progress
                      message: Export '{id}' in progress for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
                export_failed:
                  description: 'Example template string for code `export_failed`:

                    ```

                    Export ''{id}'' failed for project ''{projectIri}''.

                    ```'
                  value:
                    message: Export '{id}' failed for project '{projectIri}'.
                    errors:
                    - code: export_failed
                      message: Export '{id}' failed for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/imports:
    post:
      tags:
      - API v3
      description: Initiates an import of a project from an export zip file. The import will be performed asynchronously, and the response will indicate that the import has been accepted. An import can only be triggered when no other import exists.
      operationId: postV3ProjectsProjectiriImports
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      requestBody:
        description: The export zip file to import
        content:
          application/zip:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTaskStatusResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                import_exists:
                  description: 'Example template string for code `import_exists`:

                    ```

                    Import ''{id}'' exists for project ''{projectIri}''.

                    ```'
                  value:
                    message: Import '{id}' exists for project '{projectIri}'.
                    errors:
                    - code: import_exists
                      message: Import '{id}' exists for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/imports/{importId}:
    get:
      tags:
      - API v3
      description: Checks the status of an import. The response will indicate whether the import is still in progress, has completed successfully, or has failed.
      operationId: getV3ProjectsProjectiriImportsImportid
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: importId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTaskStatusResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                import_not_found:
                  description: 'Example template string for code `import_not_found`:

                    ```

                    The import ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The import '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: import_not_found
                      message: The import '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
    delete:
      tags:
      - API v3
      description: Deletes an import. Only imports in state failed or completed can be deleted. If it is still in progress, the response will be 409 Conflict.
      operationId: deleteV3ProjectsProjectiriImportsImportid
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: importId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                import_not_found:
                  description: 'Example template string for code `import_not_found`:

                    ```

                    The import ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The import '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: import_not_found
                      message: The import '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                import_in_progress:
                  description: 'Example template string for code `import_in_progress`:

                    ```

                    Import ''{id}'' in progress for project ''{projectIri}''.

                    ```'
                  value:
                    message: Import '{id}' in progress for project '{projectIri}'.
                    errors:
                    - code: import_in_progress
                      message: Import '{id}' in progress for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/data-imports:
    post:
      tags:
      - API v3
      description: 'Initiates an import of a project''s data graph from a knora-api JSON-LD payload. The import will be performed asynchronously, and the response will contain an import ID that can be used to check the status of the import. The import is create-only: it fails if the project already has a data graph. An import can only be triggered when no other data-graph import exists.'
      operationId: postV3ProjectsProjectiriData-imports
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      requestBody:
        description: The project's data graph as knora-api (v2 external) JSON-LD
        content:
          application/ld+json:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTaskStatusResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                project_not_found:
                  description: 'Example template string for code `project_not_found`:

                    ```

                    The project ''{id}'' was not found.

                    ```'
                  value:
                    message: The project '{id}' was not found.
                    errors:
                    - code: project_not_found
                      message: The project '{id}' was not found.
                      details:
                        id: example_id
                feature_missing:
                  description: 'Example template string for code `feature_missing`:

                    ```

                    The required feature ''{name}'' is missing. Ask your system administrator to enable it.

                    ```'
                  value:
                    message: The required feature '{name}' is missing. Ask your system administrator to enable it.
                    errors:
                    - code: feature_missing
                      message: The required feature '{name}' is missing. Ask your system administrator to enable it.
                      details:
                        name: example_name
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                import_exists:
                  description: 'Example template string for code `import_exists`:

                    ```

                    Import ''{id}'' exists for project ''{projectIri}''.

                    ```'
                  value:
                    message: Import '{id}' exists for project '{projectIri}'.
                    errors:
                    - code: import_exists
                      message: Import '{id}' exists for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
                data_graph_exists:
                  description: 'Example template string for code `data_graph_exists`:

                    ```

                    The data graph for project ''{projectIri}'' already exists.

                    ```'
                  value:
                    message: The data graph for project '{projectIri}' already exists.
                    errors:
                    - code: data_graph_exists
                      message: The data graph for project '{projectIri}' already exists.
                      details:
                        projectIri: example_projectIri
      security:
      - httpAuth: []
  /v3/projects/{projectIri}/data-imports/{importId}:
    get:
      tags:
      - API v3
      description: Checks the status of a data-graph import. The response will indicate whether the import is still in progress, has completed successfully, or has failed.
      operationId: getV3ProjectsProjectiriData-importsImportid
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: importId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTaskStatusResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                import_not_found:
                  description: 'Example template string for code `import_not_found`:

                    ```

                    The import ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The import '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: import_not_found
                      message: The import '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
                feature_missing:
                  description: 'Example template string for code `feature_missing`:

                    ```

                    The required feature ''{name}'' is missing. Ask your system administrator to enable it.

                    ```'
                  value:
                    message: The required feature '{name}' is missing. Ask your system administrator to enable it.
                    errors:
                    - code: feature_missing
                      message: The required feature '{name}' is missing. Ask your system administrator to enable it.
                      details:
                        name: example_name
      security:
      - httpAuth: []
    delete:
      tags:
      - API v3
      description: Deletes a data-graph import. Only imports in state failed or completed can be deleted. If it is still in progress, the response will be 409 Conflict.
      operationId: deleteV3ProjectsProjectiriData-importsImportid
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: importId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
              example:
                message: Invalid token.
                errors: []
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
              example:
                message: User not active.
                errors: []
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              examples:
                import_not_found:
                  description: 'Example template string for code `import_not_found`:

                    ```

                    The import ''{id}'' in project ''{projectIri}'' was not found.

                    ```'
                  value:
                    message: The import '{id}' in project '{projectIri}' was not found.
                    errors:
                    - code: import_not_found
                      message: The import '{id}' in project '{projectIri}' was not found.
                      details:
                        id: example_id
                        projectIri: example_projectIri
                feature_missing:
                  description: 'Example template string for code `feature_missing`:

                    ```

                    The required feature ''{name}'' is missing. Ask your system administrator to enable it.

                    ```'
                  value:
                    message: The required feature '{name}' is missing. Ask your system administrator to enable it.
                    errors:
                    - code: feature_missing
                      message: The required feature '{name}' is missing. Ask your system administrator to enable it.
                      details:
                        name: example_name
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
              examples:
                import_in_progress:
                  description: 'Example template string for code `import_in_progress`:

                    ```

                    Import ''{id}'' in progress for project ''{projectIri}''.

                    ```'
                  value:
                    message: Import '{id}' in progress for project '{projectIri}'.
                    errors:
                    - code: import_in_progress
                      message: Import '{id}' in progress for project '{projectIri}'.
                      details:
                        id: example_id
                        projectIri: example_projectIri
      security:
      - httpAuth: []
components:
  schemas:
    ResourceClassDto:
      title: ResourceClassDto
      type: object
      required:
      - iri
      - representationClass
      properties:
        iri:
          type: string
        representationClass:
          $ref: '#/components/schemas/RepresentationClass'
        label:
          type: array
          items:
            $ref: '#/components/schemas/LanguageStringDto'
        comment:
          type: array
          items:
            $ref: '#/components/schemas/LanguageStringDto'
    LanguageStringDto:
      title: LanguageStringDto
      type: object
      required:
      - value
      - language
      properties:
        value:
          type: string
        language:
          type: string
    ExportRequest:
      title: ExportRequest
      type: object
      required:
      - resourceClass
      - language
      - includeIris
      - includeArkUrls
      properties:
        resourceClass:
          type: string
        selectedProperties:
          type: array
          items:
            type: string
        language:
          type: string
        includeIris:
          type: boolean
        includeArkUrls:
          type: boolean
    OntologyDto:
      title: OntologyDto
      type: object
      required:
      - iri
      - label
      - comment
      properties:
        iri:
          type: string
        label:
          type: string
        comment:
          type: string
    AddClassMappingsRequest:
      title: AddClassMappingsRequest
      type: object
      properties:
        mappings:
          type: array
          items:
            type: string
    Unauthorized:
      title: Unauthorized
      type: object
      required:
      - message
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
    ExportRequestOai:
      title: ExportRequestOai
      type: object
      required:
      - shortcode
      properties:
        shortcode:
          $ref: '#/components/schemas/Shortcode'
    NotFound:
      title: NotFound
      type: object
      required:
      - message
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
    ClassMappingResponse:
      title: ClassMappingResponse
      type: object
      required:
      - classIri
      - ontologyIri
      - lastModificationDate
      properties:
        classIri:
          type: string
        ontologyIri:
          type: string
        subClassOf:
          type: array
          items:
            type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/LanguageStringDto'
        comment:
          type: array
          items:
            $ref: '#/components/schemas/LanguageStringDto'
        lastModificationDate:
          type: string
          format: date-time
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    DataTaskStatusResponse:
      title: DataTaskStatusResponse
      type: object
      required:
      - id
      - projectIri
      - status
      - createdBy
      - createdAt
      properties:
        id:
          description: A unique identifier.
          type: string
        projectIri:
          description: IRI for a project.
          type: string
        status:
          description: The status of a task. One of 'in_progress,completed,failed' expected.
          type: string
        createdBy:
          description: IRI for a user.
          type: string
        createdAt:
          type: string
          format: date-time
        errorMessage:
          type: string
    PropertyMappingResponse:
      title: PropertyMappingResponse
      type: object
      required:
      - propertyIri
      - ontologyIri
      - lastModificationDate
      properties:
        propertyIri:
          type: string
        ontologyIri:
          type: string
        subPropertyOf:
          type: array
          items:
            type: string
        label:
          type: array
          items:
            $ref: '#/components/schemas/LanguageStringDto'
        comment:
          type: array
          items:
            $ref: '#/components/schemas/LanguageStringDto'
        lastModificationDate:
          type: string
          format: date-time
    ErrorDetail:
      title: ErrorDetail
      type: object
      required:
      - code
      - message
      - details
      properties:
        code:
          $ref: '#/components/schemas/V3ErrorCode'
        message:
          type: string
        details:
          $ref: '#/components/schemas/Map_String'
    AddPropertyMappingsRequest:
      title: AddPropertyMappingsRequest
      type: object
      properties:
        mappings:
          type: array
          items:
            type: string
    ResourceClassAndCountDto:
      title: ResourceClassAndCountDto
      type: object
      required:
      - resourceClass
      - itemCount
      properties:
        resourceClass:
          $ref: '#/components/schemas/ResourceClassDto'
        itemCount:
          type: integer
          format: int32
    BadRequest:
      title: BadRequest
      type: object
      required:
      - message
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
    Forbidden:
      title: Forbidden
      type: object
      required:
      - message
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
    RepresentationClass:
      title: RepresentationClass
      type: string
      enum:
      - ArchiveRepresentation
      - AudioRepresentation
      - DDDRepresentation
      - DocumentRepresentation
      - MovingImageRepresentation
      - StillImageRepresentation
      - TextRepresentation
      - WithoutRepresentation
    OntologyAndResourceClasses:
      title: OntologyAndResourceClasses
      type: object
      required:
      - ontology
      properties:
        ontology:
          $ref: '#/components/schemas/OntologyDto'
        classesAndCount:
          type: array
          items:
            $ref: '#/components/schemas/ResourceClassAndCountDto'
    V3ErrorCode:
      title: V3ErrorCode
      type: string
      enum:
      - class_not_found
      - data_graph_exists
      - export_exists
      - export_failed
      - export_in_progress
      - export_not_found
      - feature_missing
      - import_exists
      - import_in_progress
      - import_not_found
      - invalid_ontology_mapping_iri
      - ontology_not_found
      - project_not_found
      - property_not_found
      - resourceClass_not_found
      - resource_not_found
    Shortcode:
      title: Shortcode
      type: object
      required:
      - value
      properties:
        value:
          type: string
    Conflict:
      title: Conflict
      type: object
      required:
      - message
      properties:
        message:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
  securitySchemes:
    httpAuth:
      type: http
      scheme: bearer
    httpAuth1:
      type: http
      scheme: basic
