openapi: 3.1.0
info:
  title: DSP Admin API API
  version: v35.10.0
  summary: DSP-API is part of the DaSCH Service Platform, a repository for the long-term preservation and reuse of data in the humanities.
  contact:
    name: DaSCH
    url: https://www.dasch.swiss/
servers:
- url: https://api.dasch.swiss:443
  description: The dsp-api server
tags:
- name: Admin API
paths:
  /admin/files/{projectShortcode}/{filename}:
    get:
      tags:
      - Admin API
      description: Returns the permission code and the project's restricted view settings for a given shortcode and filename. Publicly accessible.
      operationId: getAdminFilesProjectshortcodeFilename
      parameters:
      - name: projectShortcode
        in: path
        description: The shortcode of a project. Must be a 4 digit hexadecimal String.
        required: true
        schema:
          type: string
        example: '0001'
      - name: filename
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCodeAndProjectRestrictedViewSettings'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/groups:
    get:
      tags:
      - Admin API
      description: Return all groups. Publicly accessible.
      operationId: getAdminGroups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetResponseADM'
              example:
                groups:
                - id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                  name: NewGroup
                  descriptions:
                  - value: NewGroup description in English
                    language: en
                  - value: NewGroup Beschreibung auf Deutsch
                    language: de
                  project:
                    id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  status: true
                  selfjoin: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Admin API
      description: Create new group. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: Create new group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateRequest'
            example:
              name: NewGroup
              descriptions:
              - value: NewGroup description in English
                language: en
              - value: NewGroup Beschreibung auf Deutsch
                language: de
              project: http://rdfh.ch/projects/0042
              status: true
              selfjoin: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponseADM'
              example:
                group:
                  id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                  name: NewGroup
                  descriptions:
                  - value: NewGroup description in English
                    language: en
                  - value: NewGroup Beschreibung auf Deutsch
                    language: de
                  project:
                    id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  status: true
                  selfjoin: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/groups/{groupIri}:
    get:
      tags:
      - Admin API
      description: Return a single group identified by its IRI. Publicly accessible.
      operationId: getAdminGroupsGroupiri
      parameters:
      - name: groupIri
        in: path
        description: The IRI of a group. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponseADM'
              example:
                group:
                  id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                  name: NewGroup
                  descriptions:
                  - value: NewGroup description in English
                    language: en
                  - value: NewGroup Beschreibung auf Deutsch
                    language: de
                  project:
                    id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  status: true
                  selfjoin: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Admin API
      description: Update a group's basic information. Requires SystemAdmin or ProjectAdmin permissions for the group's project.
      operationId: putAdminGroupsGroupiri
      parameters:
      - name: groupIri
        in: path
        description: The IRI of a group. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateRequest'
            example:
              name: NewGroupNewName
              descriptions:
              - value: NewGroupNewName description in English
                language: en
              - value: NewGroupNewName Beschreibung auf Deutsch
                language: de
              status: false
              selfjoin: true
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponseADM'
              example:
                group:
                  id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                  name: NewGroup
                  descriptions:
                  - value: NewGroup description in English
                    language: en
                  - value: NewGroup Beschreibung auf Deutsch
                    language: de
                  project:
                    id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  status: true
                  selfjoin: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    delete:
      tags:
      - Admin API
      description: Deletes a group by changing its status to 'false'. Requires SystemAdmin or ProjectAdmin permissions for the group's project.
      operationId: deleteAdminGroupsGroupiri
      parameters:
      - name: groupIri
        in: path
        description: The IRI of a group. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponseADM'
              example:
                group:
                  id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                  name: NewGroup
                  descriptions:
                  - value: NewGroup description in English
                    language: en
                  - value: NewGroup Beschreibung auf Deutsch
                    language: de
                  project:
                    id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  status: true
                  selfjoin: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/groups/{groupIri}/members:
    get:
      tags:
      - Admin API
      description: Return all members of a single group. Requires SystemAdmin or ProjectAdmin permissions for the group's project.
      operationId: getAdminGroupsGroupiriMembers
      parameters:
      - name: groupIri
        in: path
        description: The IRI of a group. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembersGetResponseADM'
              example:
                members:
                - id: http://rdfh.ch/users/0001
                  username: username
                  email: user@exampl.com
                  givenName: Jane
                  familyName: Doe
                  status: true
                  lang: rm
                  groups:
                  - id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                    name: NewGroup
                    descriptions:
                    - value: NewGroup description in English
                      language: en
                    - value: NewGroup Beschreibung auf Deutsch
                      language: de
                    project:
                      id: http://rdfh.ch/projects/0042
                      shortname: example
                      shortcode: '0001'
                      longname: Example Project
                      description:
                      - value: An example project
                        language: en
                      keywords:
                      - example
                      - project
                      ontologies: []
                      status: true
                      selfjoin: false
                      allowedCopyrightHolders: []
                      enabledLicenses:
                      - http://rdfh.ch/licenses/boris
                      - http://rdfh.ch/licenses/open-licence-2.0
                      - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                      - http://rdfh.ch/licenses/public-domain
                      - http://rdfh.ch/licenses/unknown
                      - http://rdfh.ch/licenses/ai-generated
                      - urn:dasch:placeholder
                      - http://rdfh.ch/licenses/cc-by-4.0
                      - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                      - http://rdfh.ch/licenses/noc-nc-1.0
                      - http://rdfh.ch/licenses/cc-by-nd-4.0
                      - http://rdfh.ch/licenses/cc-pdm-1.0
                      - http://rdfh.ch/licenses/cc-0-1.0
                      - http://rdfh.ch/licenses/cc-by-nc-4.0
                      - http://rdfh.ch/licenses/cc-by-sa-4.0
                    status: true
                    selfjoin: false
                  projects:
                  - id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  permissions:
                    groupsPerProject: {}
                    administrativePermissionsPerProject: {}
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/groups/{groupIri}/status:
    put:
      tags:
      - Admin API
      description: Updates a group's status. Requires SystemAdmin or ProjectAdmin permissions for the group's project.
      operationId: putAdminGroupsGroupiriStatus
      parameters:
      - name: groupIri
        in: path
        description: The IRI of a group. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupStatusUpdateRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponseADM'
              example:
                group:
                  id: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
                  name: NewGroup
                  descriptions:
                  - value: NewGroup description in English
                    language: en
                  - value: NewGroup Beschreibung auf Deutsch
                    language: de
                  project:
                    id: http://rdfh.ch/projects/0042
                    shortname: example
                    shortcode: '0001'
                    longname: Example Project
                    description:
                    - value: An example project
                      language: en
                    keywords:
                    - example
                    - project
                    ontologies: []
                    status: true
                    selfjoin: false
                    allowedCopyrightHolders: []
                    enabledLicenses:
                    - http://rdfh.ch/licenses/boris
                    - http://rdfh.ch/licenses/open-licence-2.0
                    - http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                    - http://rdfh.ch/licenses/public-domain
                    - http://rdfh.ch/licenses/unknown
                    - http://rdfh.ch/licenses/ai-generated
                    - urn:dasch:placeholder
                    - http://rdfh.ch/licenses/cc-by-4.0
                    - http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                    - http://rdfh.ch/licenses/noc-nc-1.0
                    - http://rdfh.ch/licenses/cc-by-nd-4.0
                    - http://rdfh.ch/licenses/cc-pdm-1.0
                    - http://rdfh.ch/licenses/cc-0-1.0
                    - http://rdfh.ch/licenses/cc-by-nc-4.0
                    - http://rdfh.ch/licenses/cc-by-sa-4.0
                  status: true
                  selfjoin: false
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists:
    get:
      tags:
      - Admin API
      description: Get all lists or all lists belonging to a project. Note that you can provide either a project IRI or a project shortcode. Publicly accessible.
      operationId: getAdminLists
      parameters:
      - name: projectIri
        in: query
        description: The (optional) IRI of the project.
        required: false
        schema:
          type: string
        example: http://rdfh.ch/projects/0042
      - name: projectShortcode
        in: query
        description: The (optional) shortcode of the project.
        required: false
        schema:
          type: string
        example: '0042'
      responses:
        '200':
          description: Contains the list of all root nodes of each found list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListsGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Admin API
      description: Creates a new list by creating the root node of the list. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: postAdminLists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCreateRootNodeRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists/{p1}:
    get:
      tags:
      - Admin API
      description: Returns a list node, root or child, with children (if exist). Publicly accessible.
      operationId: getAdminListsP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Admin API
      description: Update a list node's properties. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: putAdminListsP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListChangeRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    post:
      tags:
      - Admin API
      description: Creates a new list node as a child of the specified list node. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: postAdminListsP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCreateChildNodeRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChildNodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
    delete:
      tags:
      - Admin API
      description: Delete a list node. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: deleteAdminListsP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItemDeleteResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists/{p1}/info:
    get:
      tags:
      - Admin API
      description: Returns basic information about a list node, root or child, w/o children (if exist). Publicly accessible.
      operationId: getAdminListsP1Info
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/lists/infos/{p1}:
    get:
      tags:
      - Admin API
      description: '*Deprecated*. Use GET admin/lists/<listIri>/info instead. Returns basic information about a list node, root or child, w/o children (if exist). Publicly accessible.'
      operationId: getAdminListsInfosP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /admin/lists/nodes/{p1}:
    get:
      tags:
      - Admin API
      description: '*Deprecated*. Use GET admin/lists/<listIri>/info instead. Returns basic information about a list node, root or child, w/o children (if exist). Publicly accessible.'
      operationId: getAdminListsNodesP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /admin/lists/candelete/{p1}:
    get:
      tags:
      - Admin API
      description: Checks if a list can be deleted (none of its nodes is used in data).
      operationId: getAdminListsCandeleteP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanDeleteListResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/lists/{p1}/name:
    put:
      tags:
      - Admin API
      description: Update a list node's name. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: putAdminListsP1Name
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListChangeNameRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists/{p1}/labels:
    put:
      tags:
      - Admin API
      description: Update a list node's labels. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: putAdminListsP1Labels
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListChangeLabelsRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists/{p1}/comments:
    put:
      tags:
      - Admin API
      description: Update a list node's comments. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: putAdminListsP1Comments
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListChangeCommentsRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists/{p1}/position:
    put:
      tags:
      - Admin API
      description: Update a list node's position. Requires SystemAdmin or ProjectAdmin permissions for the list's project.
      operationId: putAdminListsP1Position
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListChangePositionRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodePositionChangeResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/lists/comments/{p1}:
    delete:
      tags:
      - Admin API
      description: Delete a list node's comments. Requires authentication.
      operationId: deleteAdminListsCommentsP1
      parameters:
      - name: p1
        in: path
        description: The IRI of the list.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNodeCommentsDeleteResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/maintenance/{action-name}:
    post:
      tags:
      - Admin API
      description: Execute a maintenance action. Requires SystemAdmin permissions.
      operationId: postAdminMaintenanceAction-name
      parameters:
      - name: action-name
        in: path
        description: 'The name of the maintenance action to be executed.

          Maintenance actions are executed asynchronously in the background.

          '
        required: true
        schema:
          type: string
        example: fix-top-left
      requestBody:
        description: 'The optional parameters as json for the maintenance action.

          May be required by certain actions.

          '
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        '202':
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/ap:
    post:
      tags:
      - Admin API
      description: Create a new administrative permission. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: postAdminPermissionsAp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdministrativePermissionAPIRequestADM'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativePermissionCreateResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/ap/{projectIri}:
    get:
      tags:
      - Admin API
      description: Get all administrative permissions for a project. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: getAdminPermissionsApProjectiri
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativePermissionsForProjectGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/ap/{projectIri}/{groupIri}:
    get:
      tags:
      - Admin API
      description: Get all administrative permissions for a project and a group. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: getAdminPermissionsApProjectiriGroupiri
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      - name: groupIri
        in: path
        description: The IRI of a group. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/groups/0042/a95UWs71KUklnFOe1rcw1w
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativePermissionGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/doap/{projectIri}:
    get:
      tags:
      - Admin API
      description: Get all default object access permissions for a project. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: getAdminPermissionsDoapProjectiri
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultObjectAccessPermissionsForProjectGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/{projectIri}:
    get:
      tags:
      - Admin API
      description: Get all permissions for a project. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: getAdminPermissionsProjectiri
      parameters:
      - name: projectIri
        in: path
        description: The IRI of a project. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/projects/0001
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionsForProjectGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/doap/{permissionIri}:
    put:
      tags:
      - Admin API
      description: Update an existing default object access permission. The request may update the hasPermission and/or any allowed combination of group, resource class and property for the permission. Requires SystemAdmin permissions.
      operationId: putAdminPermissionsDoapPermissioniri
      parameters:
      - name: permissionIri
        in: path
        description: The IRI of a permission. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/permissions/00FF/Mck2xJDjQ_Oimi_9z4aFaA
      requestBody:
        description: Default object access permissions can be only for group, resource class, property or both resource class and property.If an invalid combination is provided, the request will fail with a Bad Request response.The iris for resource class and property must be valid Api V2 complex iris.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDoapRequest'
            examples:
              For a group:
                value:
                  forGroup: http://www.knora.org/ontology/knora-admin#ProjectMember
              For a resource class and a property:
                value:
                  forResourceClass: http://api.dasch.swiss/ontology/0803/incunabula/v2#bild
                  forProperty: http://api.dasch.swiss/ontology/0803/incunabula/v2#pagenum
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultObjectAccessPermissionGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/{permissionIri}/group:
    put:
      tags:
      - Admin API
      description: Update a permission's group. Requires SystemAdmin permissions.
      operationId: putAdminPermissionsPermissioniriGroup
      parameters:
      - name: permissionIri
        in: path
        description: The IRI of a permission. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/permissions/00FF/Mck2xJDjQ_Oimi_9z4aFaA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePermissionGroupApiRequestADM'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/{permissionIri}/hasPermissions:
    put:
      tags:
      - Admin API
      description: Update a permission's set of hasPermissions. Requires SystemAdmin permissions.
      operationId: putAdminPermissionsPermissioniriHaspermissions
      parameters:
      - name: permissionIri
        in: path
        description: The IRI of a permission. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/permissions/00FF/Mck2xJDjQ_Oimi_9z4aFaA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePermissionHasPermissionsApiRequestADM'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/{permissionIri}/property:
    put:
      tags:
      - Admin API
      description: Update a DAOP's property. Use `PUT /admin/permissions/doap/{permissionIri}` instead. Requires SystemAdmin permissions.
      operationId: putAdminPermissionsPermissioniriProperty
      parameters:
      - name: permissionIri
        in: path
        description: The IRI of a permission. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/permissions/00FF/Mck2xJDjQ_Oimi_9z4aFaA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePermissionPropertyApiRequestADM'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultObjectAccessPermissionGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/{permissionIri}/resourceClass:
    put:
      tags:
      - Admin API
      description: Update a DOAP's resource class. Use `PUT /admin/permissions/doap/{permissionIri}` instead. Requires SystemAdmin permissions.
      operationId: putAdminPermissionsPermissioniriResourceclass
      parameters:
      - name: permissionIri
        in: path
        description: The IRI of a permission. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/permissions/00FF/Mck2xJDjQ_Oimi_9z4aFaA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePermissionResourceClassApiRequestADM'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultObjectAccessPermissionGetResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/{permissionIri}:
    delete:
      tags:
      - Admin API
      description: Delete an permission. Requires SystemAdmin permissions.
      operationId: deleteAdminPermissionsPermissioniri
      parameters:
      - name: permissionIri
        in: path
        description: The IRI of a permission. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/permissions/00FF/Mck2xJDjQ_Oimi_9z4aFaA
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDeleteResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/permissions/doap:
    post:
      tags:
      - Admin API
      description: Create a new default object access permission. Requires SystemAdmin or ProjectAdmin permissions for the project.
      operationId: postAdminPermissionsDoap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefaultObjectAccessPermissionAPIRequestADM'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultObjectAccessPermissionCreateResponseADM'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - httpAuth: []
      - httpAuth1: []
  /admin/projects/shortcode/{projectShortcode}/legal-info/licenses:
    get:
      tags:
      - Admin API
      description: Get the available licenses for use within this project. Publicly accessible.
      operationId: getAdminProjectsShortcodeProjectshortcodeLegal-infoLicenses
      parameters:
      - name: projectShortcode
        in: path
        description: The shortcode of a project. Must be a 4 digit hexadecimal String.
        required: true
        schema:
          type: string
        example: '0001'
      - name: page
        in: query
        description: The number of the desired page to be returned.
        required: false
        schema:
          default: 1
          type: integer
          format: int32
          minimum: 1
      - name: page-size
        in: query
        description: The number of items per page to be returned.
        required: false
        schema:
          default: 25
          type: integer
          format: int32
          minimum: 1
          maximum: 100
      - name: filter
        in: query
        description: Filter the results.
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Sort the results in ascending (asc) or descending (desc) order.
        required: false
        schema:
          default: Asc
          type: string
      - name: showOnlyEnabled
        in: query
        description: Show only enabled licenses if true.
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResponse_ProjectLicenseDto'
              example:
                data:
                - id: http://rdfh.ch/licenses/cc-by-4.0
                  uri: https://creativecommons.org/licenses/by/4.0/
                  labelEn: CC BY 4.0
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-by-sa-4.0
                  uri: https://creativecommons.org/licenses/by-sa/4.0/
                  labelEn: CC BY-SA 4.0
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-by-nc-4.0
                  uri: https://creativecommons.org/licenses/by-nc/4.0/
                  labelEn: CC BY-NC 4.0
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-by-nc-sa-4.0
                  uri: https://creativecommons.org/licenses/by-nc-sa/4.0/
                  labelEn: CC BY-NC-SA 4.0
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-by-nd-4.0
                  uri: https://creativecommons.org/licenses/by-nd/4.0/
                  labelEn: CC BY-ND 4.0
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-by-nc-nd-4.0
                  uri: https://creativecommons.org/licenses/by-nc-nd/4.0/
                  labelEn: CC BY-NC-ND 4.0
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/ai-generated
                  uri: http://rdfh.ch/licenses/ai-generated
                  labelEn: AI-Generated Content - Not Protected by Copyright
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/unknown
                  uri: http://rdfh.ch/licenses/unknown
                  labelEn: Unknown License - Ask Copyright Holder for Permission
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/public-domain
                  uri: http://rdfh.ch/licenses/public-domain
                  labelEn: Public Domain - Not Protected by Copyright
                  isRecommended: true
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-0-1.0
                  uri: https://creativecommons.org/publicdomain/zero/1.0/
                  labelEn: CC0 1.0
                  isRecommended: false
                  isEnabled: true
                - id: http://rdfh.ch/licenses/cc-pdm-1.0
                  uri: https://creativecommons.org/publicdomain/mark/1.0/
                  labelEn: CC PDM 1.0
                  isRecommended: false
                  isEnabled: true
                - id: http://rdfh.ch/licenses/boris
                  uri: https://www.ub.unibe.ch/services/open_science/boris_publications/index_eng.html#collapse_pane631832
                  labelEn: BORIS Standard License
                  isRecommended: false
                  isEnabled: true
                - id: http://rdfh.ch/licenses/open-licence-2.0
                  uri: https://www.etalab.gouv.fr/wp-content/uploads/2018/11/open-licence.pdf
                  labelEn: LICENCE OUVERTE 2.0
                  isRecommended: false
                  isEnabled: true
                - id: http://rdfh.ch/licenses/noc-nc-1.0
                  uri: http://rightsstatements.org/vocab/NoC-NC/1.0/
                  labelEn: No Copyright - Non-Commercial Use Only
                  isRecommended: false
                  isEnabled: true
                - id: urn:dasch:placeholder
                  uri: urn:dasch:placeholder
                  labelEn: Placeholder License - Not a Real License only to be used when the real license is not known yet.
                  isRecommended: false
                  isEnabled: true
                pagination:
                  pageSize: 15
                  totalItems: 15
                  totalPages: 1
                  currentPage: 1
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/projects/shortcode/{projectShortcode}/legal-info/licenses/{licenseIri}:
    get:
      tags:
      - Admin API
      description: Get a specific license by its IRI for use within this project. Publicly accessible.
      operationId: getAdminProjectsShortcodeProjectshortcodeLegal-infoLicensesLicenseiri
      parameters:
      - name: projectShortcode
        in: path
        description: The shortcode of a project. Must be a 4 digit hexadecimal String.
        required: true
        schema:
          type: string
        example: '0001'
      - name: licenseIri
        in: path
        description: The IRI of the license. Must be URL-encoded.
        required: true
        schema:
          type: string
        example: http://rdfh.ch/licenses/cc-by-nc-4.0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectLicenseDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OntologyConstraintException'
                - $ref: '#/components/schemas/DuplicateValueException'
                - $ref: '#/components/schemas/ValidationException'
                - $ref: '#/components/schemas/BadRequestException'
                - $ref: '#/components/schemas/GravsearchException'
                - $ref: '#/components/schemas/EditConflictException'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCredentialsException'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundException'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/projects/shortcode/{projectShortcode}/legal-info/authorships:
    get:
      tags:
      - Admin API
      description: Get the allowed authorships for use within this project. The user must be project member, project admin or system admin.
      operationId: getAdminProjectsShortcodeProjectshortcodeLegal-infoAuthorships
      parameters:
      - name: projectShortcode
        in: path
        description: The shortcode of a project. Must be a 4 digit hexadecimal String.
        required: true
        schema:
          type: string
        example: '0001'
      - name: page
        in: query
[...]
